<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-light">Instances</h3>
            <div class="card bg-light">
                <div class="card-header">
                    <strong>Author</strong> - <em><%= blog.author.username %></em>
                </div>
                <div class="card-body">
                    <em>Paragraph about the Author will go here after that feature is added.</em>
                </div>
                <div class="card-footer">
                    <a href="#">View his Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="text-center"><a href=""><%= blog.name %></a></h4>
                    </div>
                    <img class="img-responsive" src="<%= blog.image %>" alt="<%= blog.name %>">
                    <p class="card-text"><%= blog.description %></p>
                    <p class="small">
                        Submitted by <strong><a href=""><%= blog.author.username %></a></strong> |
                        <em> 10 days ago.</em>
                    </p>
                        <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                        <a href="/blogs/<%= blog._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                        <form class="deleteForm" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <% } %>
                </div>
                <div class="card-footer">
                <div class="text-right">
                    <a href="/blogs/<%= blog._id %>/comments/new" class="btn btn-sm btn-success">
                        Add new comment
                    </a>
                <% blog.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong>
                            <%= comment.author.username %>
                        </strong>
                        <span class="pull-right">10 days ago.</span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit"
                            class="btn btn-xs btn-warning">
                            Edit
                        </a>
                        <form class="deleteForm"
                            action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>

        </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>