<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mb-2">Author</h3>

                    <ul class="list-group">
                        <% if(blog.user){%>
                        <% if(blog.user.profilepicture){ %>
                        <li class="list-group-item"><img style="width : 120px ; height: 120px;border-radius: 50%;"
                                src="<%= blog.user.profilepicture %>" /></li>
                        <% } %>
                        <li class="list-group-item" active>
                            <h5><%= blog.author.username %></h5>
                        </li>
                        <% if(blog.user.description1){ %>
                        <li class="list-group-item"><em><%= blog.user.description1 %></em>
                        </li>
                        <% } %>
                        <% if(blog.user.role){ %>
                        <li class="list-group-item"><strong>Role:</strong> <%= blog.user.role %></li>
                        <% } %>
                        <% 
                                    function formatDate(date) {
                                        var d = new Date(date),
                                            month = '' + (d.getMonth() + 1),
                                            day = '' + d.getDate(),
                                            year = d.getFullYear();
                                    
                                        if (month.length < 2) 
                                            month = '0' + month;
                                        if (day.length < 2) 
                                            day = '0' + day;
                                    
                                        return [year, month, day].join('-');
                                    }%>
                        <% if(blog.user.phonenumber){ %>
                        <li class="list-group-item"><strong>Phonenumber:</strong> <%= blog.user.phonenumber %></li>
                        <% } %>
                        <% if(blog.user.email){ %>
                        <li class="list-group-item"><strong>Email:</strong> <%= blog.user.email %></li>
                        <% } %>
                        <% if(blog.user.birthdate){ %>
                        <li class="list-group-item"><strong>Birthdate:</strong> <%= formatDate(blog.user.birthdate) %>
                        </li>
                        <% } %>
                        <% if(blog.user.gender){ %>
                        <li class="list-group-item"><strong>Gender:</strong> <%= blog.user.gender %></li>
                        <% } %>

                        <% if(blog.user.age){ %>
                        <li class="list-group-item"><strong>Age:</strong> <%= blog.user.age %></li>
                        <% } %>

                        <% } else { %>
                        <li class="list-group-item" active>
                            <h5><%= blog.author.username %></h5>
                        </li>

                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="card-title">
                        <h2 class="text-center" style="text-transform: uppercase;"><a href=""><%= blog.name %></a></h2>
                    </div>
                    <hr>
                    <img class="img-responsive" src="<%= blog.image %>" alt="<%= blog.name %>">
                    <hr>
                    <p class="card-text"><%= blog.description %></p>
                    <hr>
                    <h7>
                        Submitted by <strong><a href=""><%= blog.author.username %></a></strong> |
                        <em> 10 days ago.</em>
                    </h7>
                    <hr>
                    <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                        <a href="/blogs/<%= blog._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                    <form class="deleteForm" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="card bg-light" style="margin: 10px;">
                <div class="text-left">
                    <form action="/blogs/<%= blog._id %>/likes"
                        method="POST">
                       <div class="form-group">
                           <button class="btn btn-sm btn-outline-success">Like</button>
                           <%= blog.likes.length %>
                       </div>
                    </form>
                    <form action="/blogs/<%= blog._id %>/dislikes"
                        method="POST">
                       <div class="form-group">
                           <button class="btn btn-outline-danger dev">Dislike</button>
                           <%= blog.dislikes.length %>
                       </div>
                    </form>
                </div>
                <div class="text-right">
                   <button class="btn btn-sm btn-success" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Add new comment</button>
                   
                   <% include ../comments/new %>
                </div>
            </div>
           
            <% blog.comments.forEach(function(comment){ %>
            <div class="row">
                <div class="col-md-8">
                    <div class="card" style="margin : 10px;">
                        <div class="card-body">
                            <p>
                                <%= comment.text %>
                            </p>
                            <hr>
                            <div class="chip">

                                <%= comment.author.username %>
                            </div>

                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>


                                <button class="btn btn-sm btn-outline-success" data-toggle="collapse" data-target="#collapseExample1<%= comment._id %>" aria-expanded="false" aria-controls="collapseExample">Edit</button>
                                <% include ../comments/edit %>
                          

                            <form class="deleteForm"
                                action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-outline-danger dev">Delete</button>
                            </form>


                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

    </div>
</div>
</div>
</div>



<% include ../partials/footer %>