<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">

            <div class="card">
                <div class="card-body">
                    <p class="text-center">Instances</p>

                    <div class="list-group">
                        <li class="list-group-item" active><strong>Author</strong> -
                            <em><%= blog.author.username %></em>
                        </li>
                        <p class="list-group-item"><em>Paragraph about the Author will go here after that feature is
                                added.</em>
                        </p>
                        <a class="list-group-item">View his Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="text-center"><a href=""><%= blog.name %></a></h4>
                    </div>
                    <hr>
                    <img class="img-responsive" src="<%= blog.image %>" alt="<%= blog.name %>">
                    <hr>
                    <p class="card-text"><%= blog.description %></p>
                    <hr>
                    <h7>
                        Submitted by <strong><a href=""><%= blog.author.username %></a></strong> |
                        <em> 10 days ago.</em>
                    </h7>
                    <hr>
                    <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                    <a href="/blogs/<%= blog._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
                    <form class="deleteForm" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
                <div class="card bg-light" style="margin: 10px;">
                    <div class="text-right">
                        <a href="/blogs/<%= blog._id %>/comments/new" class="btn btn-sm btn-success">
                            Add new comment
                        </a>
                    </div>
                </div>
                        <% blog.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="card" style="margin : 10px;">
                                    <div class="card-body">
                                        <p>
                                            <%= comment.text %>
                                        </p>
                                        <hr>
                                        <div class="chip">

                                            <%= comment.author.username %>
                                        </div>

                                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>


                                        <a href="/blogs/<%= blog._id %>/comments/<%= comment._id %>/edit">
                                            <button class="btn btn-outline-success dev">Edit</button>
                                        </a>

                                        <form class="deleteForm"
                                            action="/blogs/<%= blog._id %>/comments/<%= comment._id %>?_method=DELETE"
                                            method="POST">
                                            <button class="btn btn-outline-danger dev">Delete</button>
                                        </form>


                                        <% } %>-
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <% include ../partials/footer %>