<!DOCTYPE html>
<html>

<head>
    <title>Instances</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="https://kit.fontawesome.com/4973dddbec.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">Instances</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <% if(!currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><button class="btn btn-sm btn-primary mx-2" style="width: 100%;">Login</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register"><button class="btn btn-sm btn-primary mx-2" style="width: 100%;">Register</button></a>
                    </li>
                    <% } else { %>
                    <ul class="nav navbar-right top-nav">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none;"></i><%= currentUser.username %><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                                <a href="../user/<%= currentUser.username %>" style="text-decoration: none;" ><i class="fa fa-fw fa-user"></i> Account</a>
                                <li class="divider"></li>
                         <a href="#" style="text-decoration: none;" ><i class="far fa-images"></i> Posts <%= `${blogs.length}` %> <% console.log(currentUser) %> </a>
                            <li class="divider"></li>
                        <a href="/logout" style="text-decoration: none;" ><i class="fa fa-fw fa-power-off" ></i> Log Out</a>                        
                        </ul>
                    </li>
                </ul> 
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success"><%= success %></div>
        <% } %>
    </div>

    <body>
    <!--Body section is closed inside footer.ejs-->
